#about {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: start;
  background: var(--secon-bg-color);
  margin-top: 4rem;
}
.experience,
.about-content {
  width: 50%;
  max-width: 37rem;
}
.about-content > span,
.main-text > span {
  color: var(--text-simi-ten-color);
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 8px;
}
.experience h2,
.contactData > h2,
.about-content h2,
.main-text h2 {
  font-weight: 700;
  font-size: var(--normal-font);
  word-spacing: 0.5rem;
}
.experience h3,
.about-content h3 {
  font-weight: 600;
  font-size: var(--h3-font);
  margin-bottom: 0.4rem;
}
.experience p,
.about-content p {
  color: var(--text-color);
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.about-content > .btn {
  margin: 0;
  margin-top: 1.5rem;
}

/* the about image style in the index.css */

@media (max-width: 1220px) {
  #about {
    align-items: start;
    margin-top: 4rem;
  }
}

@media (max-width: 780px) {
  #about {
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .experience,
  .about-content {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {
  #about {
    padding: 16% 5%;
  }
}

@media (max-width: 510px) {
  #home {
    padding: 20% 5%;
  }
}
