/* ///////////////  import fonts   /////////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");
:root {
  --text-color: #001a44;
  --text-porto-color: #02b2df;
  --text-simi-ten-color: #232f42;
  --hover-color: #025ac9;
  --bg-color: #a5cfe5;
  --header-bg-color: #a5cfe5b6;
  --menu-bg-color: #a5cfe5c8;
  --secon-bg-color: #cce0ff;
  --mail-bg-color: #003;
  --input-color: #02e1ffc4;
  --input-plholder-color: #02e1ff5b;
  --points-color: #012661;
  --neon-social: 0 0 5px #025ac9;
  --header-hover: 0 0 10px #02aaff99, 0 0 20px rgba(2, 170, 255, 0.6),
    0 0 30px rgba(2, 170, 255, 0.6), 0 0 40px rgba(2, 170, 255, 0.6),
    0 0 70px rgba(2, 170, 255, 0.6), 0 0 80px rgba(2, 170, 255, 0.6),
    0 0 100px rgba(2, 170, 255, 0.6), 0 0 150px rgba(2, 170, 255, 0.6);
  --big-font: 3.5rem;
  --normal-font: 2rem;
  --animationText-font: 2.5rem;
  --h3-font: 1.5rem;
  --hover-box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px,
    rgba(0, 0, 0, 0.23) 0 6px 6px;
  --neon-box-shadow: 0 0 10px #025ac9;
  --neon-box-colors-shadow: 0 0 2rem #023dff;
  --font-neon-text-shadow: 0 0 10px #025ac94d, 0 0 20px rgba(2, 90, 201, 0.3),
    0 0 30px rgba(2, 90, 201, 0.3), 0 0 40px rgba(2, 90, 201, 0.3),
    0 0 70px rgba(2, 90, 201, 0.3), 0 0 80px rgba(2, 90, 201, 0.3),
    0 0 100px rgba(2, 90, 201, 0.3), 0 0 150px rgba(2, 90, 201, 0.3);
  --gradient-coler-bg: linear-gradient(
    180deg,
    #02e1ff 0%,
    #0275ff 51%,
    #023dff 100%
  );
}

/* ///////////////  all colors versions  /////////////// */
.green {
  --text-color: #012107;
  --text-porto-color: #02df5e;
  --text-simi-ten-color: #244b36;
  --hover-color: #03ad50;
  --bg-color: #c7ffe1;
  --header-bg-color: #c7ffe1b6;
  --menu-bg-color: #c7ffe1c8;
  --secon-bg-color: #e8ffe7;
  --mail-bg-color: #020;
  --neon-social: 0 0 5px #02c95a;
  --input-color: #17ff02;
  --input-plholder-color: #3dff025b;
  --points-color: #013116;
  --header-hover: 0 0 10px #19bb8599, 0 0 20px rgba(25, 187, 133, 0.6),
    0 0 30px rgba(25, 187, 133, 0.6), 0 0 40px rgba(25, 187, 133, 0.6),
    0 0 70px rgba(25, 187, 133, 0.6), 0 0 80px rgba(25, 187, 133, 0.6),
    0 0 100px rgba(25, 187, 133, 0.6), 0 0 150px rgba(25, 187, 133, 0.6);
  --neon-box-shadow: 0 0 10px #02c95a;
  --neon-box-colors-shadow: 0 0 2rem #0bac20;
  --font-neon-text-shadow: 0 0 10px rgba(2, 201, 90, 0.3),
    0 0 20px rgba(2, 201, 90, 0.3), 0 0 30px rgba(2, 201, 90, 0.3),
    0 0 40px rgba(2, 201, 90, 0.3), 0 0 70px rgba(2, 201, 90, 0.3),
    0 0 80px rgba(2, 201, 90, 0.3), 0 0 100px rgba(2, 201, 90, 0.3),
    0 0 150px rgba(2, 201, 90, 0.3);
  --gradient-coler-bg: linear-gradient(
    180deg,
    #3fc002 0%,
    #0bac20 51%,
    #0e570b 100%
  );
}
.purple {
  --text-color: #220249;
  --text-porto-color: #8052ec;
  --text-simi-ten-color: #34056d;
  --hover-color: #5a02c9;
  --secon-bg-color: #cdc6df;
  --bg-color: #beafe0;
  --menu-bg-color: #beafe0c8;
  --header-bg-color: #beafe0b6;
  --mail-bg-color: #180035;
  --neon-social: 0 0 5px #5a02c9;
  --input-color: #8400ff;
  --input-plholder-color: #6c0edf5b;
  --points-color: #210741;
  --header-hover: 0 0 10px rgba(92, 2, 201, 0.45),
    0 0 20px rgba(90, 2, 201, 0.45), 0 0 30px rgba(90, 2, 201, 0.45),
    0 0 40px rgba(90, 2, 201, 0.45), 0 0 70px rgba(90, 2, 201, 0.45),
    0 0 80px rgba(90, 2, 201, 0.45), 0 0 100px rgba(90, 2, 201, 0.45),
    0 0 150px rgba(90, 2, 201, 0.45);
  --neon-box-shadow: 0 0 10px #5a02c9;
  --neon-box-colors-shadow: 0 0 2rem #5a02c9;
  --font-neon-text-shadow: 0 0 10px rgba(90, 2, 201, 0.3),
    0 0 20px rgba(90, 2, 201, 0.3), 0 0 30px rgba(90, 2, 201, 0.3),
    0 0 40px rgba(90, 2, 201, 0.3), 0 0 70px rgba(90, 2, 201, 0.3),
    0 0 80px rgba(90, 2, 201, 0.3), 0 0 100px rgba(90, 2, 201, 0.3),
    0 0 150px rgba(90, 2, 201, 0.3);
  --gradient-coler-bg: linear-gradient(
    180deg,
    #a786f5 0%,
    #5a02c9 51%,
    #2e055f 100%
  );
}
.orange {
  --text-color: #4d2f06;
  --text-porto-color: #d19b08;
  --text-simi-ten-color: #69592d;
  --hover-color: #ff5e00;
  --bg-color: #ffdaa2;
  --header-bg-color: #ffdaa2b6;
  --menu-bg-color: #ffdaa2c8;
  --secon-bg-color: #ffefd6;
  --mail-bg-color: #301c00;
  --input-color: #ffbe00;
  --input-plholder-color: #ffa6006b;
  --points-color: #4d2f06;
  --neon-social: 0 0 5px #ff5e00;
  --header-hover: 0 0 10px rgba(228, 170, 100, 0.6),
    0 0 20px rgba(228, 170, 100, 0.6), 0 0 30px rgba(228, 170, 100, 0.6),
    0 0 60px rgba(228, 170, 100, 0.6), 0 0 70px rgba(228, 170, 100, 0.6),
    0 0 100px rgba(228, 170, 100, 0.6), 0 0 100px rgba(228, 170, 100, 0.6),
    0 0 150px rgba(228, 170, 100, 0.6);
  --neon-box-shadow: 0 0 10px #ff5e00;
  --neon-box-colors-shadow: 0 0 2rem #ff5e00;
  --font-neon-text-shadow: 0 0 10px rgba(255, 94, 0, 0.302),
    0 0 20px rgba(255, 94, 0, 0.3), 0 0 30px rgba(255, 94, 0, 0.3),
    0 0 40px rgba(255, 94, 0, 0.3), 0 0 70px rgba(255, 94, 0, 0.3),
    0 0 80px rgba(255, 94, 0, 0.3), 0 0 100px rgba(255, 94, 0, 0.3),
    0 0 150px rgba(255, 94, 0, 0.3);
  --gradient-coler-bg: linear-gradient(
    180deg,
    #ffa500 0%,
    #ff7500 51%,
    #ff3500 100%
  );
}
.blue.dark {
  --hover-color: #0099ff;
  --text-color: #0357dd;
}
.green.dark {
  --text-color: #0b701e;
  --hover-color: #00ff22;
}
.orange.dark {
  --text-color: #bd6e00;
  --hover-color: #ffb937;
}
.purple.dark {
  --text-color: #5300b9;
  --hover-color: #9034ff;
}
.dark {
  --bg-color: #000;
  --header-bg-color: #000000b6;
  --menu-bg-color: #000000c8;
  --secon-bg-color: #101010;
  --text-simi-ten-color: var(--text-color);
}
#modeInput {
  display: none;
}
/* colorBox */
/* ///////////////  global rules  /////////////// */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text-color);
}
body {
  position: relative;
  background: var(--bg-color);
  transition: 0.5s;
  overflow-x: hidden;
}
section {
  padding: 5% 10%;
  min-height: 100vh;
}
::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

/* ///////////////   header style   ////////////////////// */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10%;
  background: var(--header-bg-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 120;
}
#menu-icon {
  display: none;
  font-size: 1.8rem;
  z-index: 122;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 5px;
  color: var(--secon-bg-color);
  animation: movingEachANav 1.5s forwards;
}
#menu-logo {
  display: none;
}
header h3 {
  display: inline;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-wrap: nowrap;
}
span,
#copyrightKareem {
  color: transparent;
  background: var(--gradient-coler-bg);
  -webkit-text-stroke: 0.05vw var(--text-color);
  -webkit-background-clip: text;
}
nav {
  display: flex;
}
nav a {
  padding: 20px 15px 10px;
  font-weight: 500;
  transition: 0.3s;
  opacity: 0;
  animation: movingEachANav 1.5s forwards;
  animation-delay: calc(0.2s * var(--i));
}
.mode {
  height: fit-content;
  font-size: 1.5rem;
  padding: 15px 15px 10px;
  cursor: pointer;
}
.mode i {
  border-radius: 5px;
  padding: 5px;
  transition: background-color 1s, color 1s, scale 0.5s, box-shadow 0.5s;
  border: 2px solid var(--text-color);
}
.bxs-moon {
  background: var(--text-color);
  color: var(--secon-bg-color);
}
.bx-sun {
  background: var(--secon-bg-color);
  color: var(--hover-color);
}
.mode:hover i {
  box-shadow: var(--neon-box-shadow);
  scale: 1.1;
}
nav > a:hover {
  color: var(--hover-color);
  letter-spacing: 0.5px;
  text-shadow: var(--header-hover);
}
.active {
  color: var(--hover-color);
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

/* ///////////////  Home section   ////////////////////// */
#home {
  height: 90%;
  width: 100%;
  display: grid;
  padding-top: 10%;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 5rem;
}
.home-content {
  max-width: 544px;
}

.home-content h3 {
  font-size: var(--h3-font);
}
.home-content h1 {
  font-size: var(--big-font);
  text-wrap: nowrap;
}
.text-animate {
  width: fit-content;
  position: relative;
}

.text-animate h2 {
  text-wrap: nowrap;
  font-size: var(--animationText-font);
  font-weight: bold;
  margin-bottom: 1rem;
  color: transparent;
  -webkit-text-stroke: 0.1vw var(--text-color);
  background: var(--gradient-coler-bg);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  transition: 0.6s;
  letter-spacing: 2px;
  animation: moveText 3s linear infinite;
  animation-delay: 2s;
}
@keyframes moveText {
  0%,
  10%,
  100% {
    background-position: -29rem 0;
  }
  65%,
  85% {
    background-position: 0rem 0;
  }
}

.text-animate h2::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -1px;
  width: 0;
  height: 70%;
  border-right: 2px solid var(--text-color);
  animation: moveCoursorText 3s linear infinite;
  animation-delay: 2s;
}
@keyframes moveCoursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    background-position: 0rem 0;
    width: 100%;
    opacity: 1;
  }
  75%,
  85% {
    opacity: 0;
  }
}

.home-content p {
  line-height: 1.6rem;
}
.btn {
  display: block;
  width: 11rem;
  text-align: center;
  background: var(--gradient-coler-bg);
  padding: 8px 10px;
  margin: 20px 0;
  margin-top: 2rem;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.7s;
  color: var(--secon-bg-color);
  letter-spacing: 0.8px;
  box-shadow: var(--neon-box-shadow);
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 1rem;
}
.btn i {
  color: var(--bg-color);
}
.social-icons a:hover,
.btn:hover {
  scale: 1.08;
  letter-spacing: 1.2px;
  box-shadow: var(--hover-box-shadow);
}
.social-icons a::after,
.social-icons a::before,
.btn::before,
.btn::after {
  animation: color-moving 8s linear infinite;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--gradient-coler-bg);
  height: 200%;
  width: 100%;
  z-index: -1;
}
.social-icons a::after,
.btn::after {
  top: 0;
}
.social-icons a::before,
.btn::before {
  bottom: 0;
  animation-delay: 2s;
}
.social-icons a:hover::before,
.btn:hover::before {
  animation-delay: 1s;
}
.social-icons a:hover::before,
.social-icons a:hover::after,
.btn:hover::before,
.btn:hover::after {
  animation-duration: 4s;
  scale: 1.08;
}
@keyframes color-moving {
  0%,
  5% {
    transform: rotatex(0deg);
  }
  45%,
  55% {
    transform: rotatex(180deg);
  }
  95%,
  100% {
    transform: rotatex(360deg);
  }
}

.social-icons {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 22rem;
  height: 2.5rem;
}
.social-icons a {
  width: 3rem;
  height: 100%;
  background: var(--bg-color);
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  background-repeat: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.social-icons i {
  transition: 0.6s;
  color: var(--hover-color);
  font-size: 1.5rem;
}

.social-icons a:hover i {
  color: var(--bg-color);
}

.social-icons a::after,
.social-icons a::before {
  animation-play-state: paused;
  opacity: 0;
}
.social-icons a:hover::before,
.social-icons a:hover::after {
  animation-play-state: running;
  opacity: 1;
}

/* img-box */

.home-image {
  position: relative;
  bottom: 20px;
}
.img-about,
.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myPhotos {
  mask-image: linear-gradient(
    to bottom,
    var(--hover-color) 80%,
    transparent 100%
  );
}

/* ///////////////  About section   ////////////////////// */
#about {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background: var(--secon-bg-color);
}
#about .img-about {
  text-align: center;
  width: 50%;
}
.about-content {
  max-width: 34rem;
}
.about-content > span,
.main-text > span {
  color: var(--text-simi-ten-color);
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 8px;
}
.contactData > h2,
.about-content h2,
.main-text h2 {
  font-weight: 700;
  font-size: var(--normal-font);
  word-spacing: 0.5rem;
}
.about-content h3 {
  font-weight: 600;
  font-size: var(--h3-font);
  margin-bottom: 0.4rem;
}
.about-content p {
  color: var(--text-color);
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.about-content > .btn {
  margin: 0;
}

/* ///////////////  Skills section   ////////////////////// */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.main-text {
  width: 100%;
  text-align: center;
}
.all-skills {
  display: grid;
  grid-template-columns: minmax(375px, 600px) minmax(300px, 500px);
  justify-content: space-evenly;
  gap: 5rem;
}
.all-skills h3 {
  margin-bottom: 2rem;
  font-size: var(--h3-font);
  text-align: center;
  color: var(--text-simi-ten-color);
}

/* ///////////////  Left skills   ////////////////////// */
#tec-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}
.skill-box {
  text-align: center;
  margin: 1rem;
  transition: 0.4s;
}
.skill-box p {
  text-transform: capitalize;
  letter-spacing: 1px;
}
.bxl-html5 {
  color: orangered;
}
.bxl-css3 {
  color: #224bff;
}
.after {
  position: relative;
  z-index: 5;
  font-size: 4rem;
  padding-bottom: 0.4rem;
}
.skill-box:hover {
  scale: 1.1;
}
.skill-box:hover .after::after {
  box-shadow: var(--font-neon-text-shadow);
}
.after::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 18%;
  left: 25%;
  background: #fff;
  transition: 0.4s;
  width: 50%;
  height: 53%;
  border-radius: 25%;
}
.bxl-javascript {
  color: yellow;
}
.bxl-typescript {
  color: #2584f0;
}

.bxl-javascript::after,
.bxl-typescript::after {
  width: 72%;
  left: 14%;
  top: 14%;
  height: 63%;
}
.bxl-javascript::after {
  background: #000;
}
.bxl-sass {
  color: #e45fbc;
}
.bxl-github {
  color: #000;
}
.bxl-github::after,
.bxl-sass::after {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  top: 12%;
  left: 15%;
}
.bxl-git::after {
  top: 16%;
  border-radius: 45%;
}
.bxl-git {
  color: orangered;
}
.bxl-c-plus-plus::after {
  border-radius: 50%;
  width: 65%;
  left: 20%;
}
.bxl-c-plus-plus {
  color: #224bff;
}
.bx-data::after {
  top: 15%;
  height: 60%;
  width: 55%;
}
.bx-data {
  color: #000;
}

/* ///////////////  right skills   ////////////////////// */
.professional {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box {
  margin: 1.6rem 0 2.5rem;
  position: relative;
  flex: 1 1 15rem;
}
.box .text {
  text-align: center;
  font-size: 1rem;
}
.box .text span {
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
small {
  display: block;
  font-weight: 600;
}
.circle {
  width: 100%;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .points {
  width: 2px;
  height: 10px;
  background: var(--points-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}
.points.marked {
  animation: glow 0.04s linear 1s forwards;
  animation-delay: calc(var(--i) * 0.05s);
}
@keyframes glow {
  from {
    background: var(--points-color);
    box-shadow: none;
  }
  to {
    background: var(--gradient-coler-bg);
    box-shadow: var(--neon-box-shadow);
  }
}

/* ///////////////   Portfolio   ////////////////////// */
#portfolio {
  background: var(--secon-bg-color);
}
.fillter-buttons {
  text-align: center;
  margin: 2rem 0;
}
.fillter-buttons > button {
  margin: 5px 0.7rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--text-color);
}
.fillter-buttons > button:hover {
  color: var(--hover-color);
}
.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(270px, 1fr));
  gap: 2rem;
}
.port-box {
  min-height: 11.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  position: relative;
}
.port-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.port-box:hover img {
  transform: scale(1.2);
}
.port-image img {
  width: 100%;
  height: 100%;
  opacity: 0.5s;
  transition: 0.5s;
}
.port-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), var(--text-color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  padding: 0 2rem;
}
.port-box:hover .port-content {
  opacity: 1;
}
.port-content h3 {
  font-size: var(--h3-font);
  font-weight: 600;
  color: var(--text-porto-color);
}
.port-content p {
  color: var(--text-porto-color);
  font-size: 0.8rem;
  margin: 5px 0 15px 0;
}
.port-content a {
  background: var(--secon-bg-color);
  border-radius: 50%;
  margin: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--text-color);
  outline: 2px solid var(--secon-bg-color);
  box-shadow: var(--hover-box-shadow);
}
.port-content a i {
  font-size: 1.5rem;
  color: var(--text-color);
}

/* ///////////////   contact   ////////////////////// */
#contact {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: inherit;
  align-items: center;
  padding-top: 7%;
}
.contactData {
  max-width: 25rem;
  height: 18.8rem;
  background: var(--secon-bg-color);
  padding: 2rem 2rem 0;
  margin-top: 5rem;
  margin-left: auto;
  border-bottom: 6px solid var(--hover-color);
  z-index: 5;
  transition: background-color 0.4s;
}
.contactData > h2 {
  margin-bottom: 1.5rem;
  transform: translate(-4rem);
}
.contactData p:first-of-type {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.contactData p:last-of-type {
  font-size: 0.85rem;
}
.contactMail {
  grid-column: 2 / 3;
  grid-row: 1/3;
  max-height: 630px;
  background: var(--mail-bg-color);
  margin-left: -2.5rem;
  transition: background-color 0.4s;
  padding: 4.5rem 5rem 2.5rem;
}
.contactMail h2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--input-color);
}

.contactSocialData > .social-icons {
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}
.contactSocial > img {
  margin: 10px auto;
}
.contactSocial {
  text-align: center;
  padding-block: 0 2rem;
  max-width: 25rem;
  margin-left: auto;
  margin-right: 4.5rem;
}
form,
.contactGroup {
  display: grid;
  gap: 1.25rem;
}
.contactGroup {
  grid-template-columns: repeat(2, 1fr);
}
.contactBox {
  width: 100%;
  height: 58px;
  position: relative;
}
.inputs,
.submit {
  outline: none;
  border: none;
}
.inputs {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  background: var(--mail-bg-color);
  border: 3px solid var(--input-plholder-color);
  color: var(--input-color);
  font-weight: 500;
  transition: border 0.4s, background-color 0.4s;
}
.inputs::placeholder {
  color: var(--input-plholder-color);
  transition: opacity 0.4s;
}
.inputs:focus::placeholder {
  opacity: 0;
}
.inputs:focus {
  border-color: var(--input-color);
}
.mailLabels {
  position: absolute;
  top: 7px;
  left: 11px;
  color: var(--input-plholder-color);
  font-size: 0.8rem;
  font-weight: 500;
  background: var(--mail-bg-color);
  padding: 8px;
  pointer-events: none;
  transition: top 0.4s, opacity 0.4s, background-color 0.4s;
  opacity: 0;
}
.inputs:focus + .mailLabels,
.inputs:not(:placeholder-shown).inputs:not(:focus) + .mailLabels {
  opacity: 1;
  top: -16px;
  left: 10px;
  color: var(--input-color);
}
.inputs:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
  background: var(--mail-bg-color);
}
.contactTextarea {
  height: 11rem;
}
.contactTextarea textarea {
  resize: none;
  padding-top: 1rem;
}
.submit {
  cursor: pointer;
  margin: 0;
  margin-top: 1.25rem;
}
#contactMessage {
  color: var(--input-color);
  font-weight: 500;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  text-wrap: nowrap;
}

/* ///////////////  footer css  ////////////////////// */
#copyrightKareem {
  font-size: 1.1rem;
}
footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid var(--text-color);
}

/* ///////////////  progress button  ////////////////////// */
#progress {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 30px;
  height: 55px;
  width: 55px;
  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
#progressValue i {
  color: var(--secon-bg-color);
}
#progressValue {
  display: grid;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background: var(--gradient-coler-bg);
  border-radius: 50%;
  place-items: center;
  box-shadow: var(--neon-box-shadow);
  font-size: 30px;
}
#progress:hover {
  transform: scale(1.08);
}

/* ///////////////  break points  ////////////////////// */
@media (780px < width < 1153px) {
  .myPhotos {
    scale: 0.95;
  }
  .home-image {
    width: 285px;
  }
  header {
    padding: 0 5%;
  }
  section {
    padding: 5% 5%;
  }
  #portfolio {
    padding-top: 7%;
  }
  .contactSocial {
    margin-right: 4rem;
  }
  .contactData {
    max-width: 23rem;
  }
  #home {
    gap: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media (max-width: 991px) {
  #home {
    gap: 3rem;
  }
  footer {
    padding: 0.7rem 0;
  }
  :root {
    --big-font: 3rem;
    --normal-font: 1.8em;
    --h3-font: 1.3rem;
    --animationText-font: 2.2rem;
  }
  .social-icons {
    margin-top: 5rem;
  }
  .contactSocial {
    margin-right: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .contactData {
    max-width: 20rem;
    padding: 2rem 1.7rem 0;
    margin-top: 4rem;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -26rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
}

@media (max-width: 900px) {
  #home {
    gap: 2rem;
  }
  .myPhotos {
    scale: 0.9;
  }
  .home-image {
    width: 270px;
  }
  .all-skills {
    gap: 3rem;
  }
  .contactGroup {
    grid-template-columns: 1fr;
  }
  .contactMail {
    max-height: 700px;
  }
  .contactSocial {
    margin-bottom: 3rem;
  }
  .contactData {
    max-width: 19rem;
    padding: 2rem 1.7rem 0;
    height: 19.8rem;
  }
}

@media (780px < width < 850px) {
  nav a {
    padding: 10px;
  }
  .mode {
    padding-top: 5px;
  }
  #home {
    gap: 2rem;
  }
  :root {
    --big-font: 2.7rem;
    --normal-font: 1.7em;
    --h3-font: 1.2rem;
    --animationText-font: 1.9rem;
  }
  .contactMail {
    max-height: 720px;
    padding: 4.5rem 3.5rem 2.5rem 5rem;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -22.8rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
  .all-skills {
    gap: 2rem;
  }
  .submit {
    width: 100%;
    height: 58px;
  }
}

@media (max-width: 780px) {
  body {
    overflow: hidden;
  }
  header {
    padding: 10px 10%;
    background: var(--menu-bg-color);
  }
  #menu-icon {
    display: block;
    transition: 0.4s;
  }
  .bx-x {
    transform: rotate(180deg);
  }
  #logo {
    transition: 0.3s;
  }
  .openClosLogo {
    opacity: 0;
  }
  #menu-logo {
    display: block;
  }
  nav {
    flex-direction: column;
    position: absolute;
    top: -500px;
    right: 0;
    left: 0;
    background: var(--menu-bg-color);
    text-align: center;
    padding: 0 5%;
    transition: 0.6s;
  }
  .mode {
    position: fixed;
    top: -5px;
    right: 5px;
  }
  nav a {
    padding-bottom: 1rem;
  }
  .openMenu {
    top: 13px;
  }
  .home-image {
    width: 100%;
  }
  #home,
  .all-skills {
    grid-template-columns: 1fr;
    gap: 7.5rem;
  }
  #about {
    flex-direction: column-reverse;
    gap: 7.5rem;
    justify-content: center;
    align-content: space-evenly;
  }
  .all-skills {
    margin-top: 2rem;
  }
  section {
    padding: 10%;
  }
  #home,
  #about {
    padding: 15% 10%;
  }
  #home .home-image {
    position: static;
  }
  .home-content,
  #about .img-about {
    max-width: none;
  }
  html,
  body {
    overflow-x: scroll;
  }
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  .myPhotos {
    scale: 1;
  }
  #contact {
    background: var(--mail-bg-color);
    grid-template-columns: none;
    grid-template-rows: 15rem max-content max-content;
    padding-bottom: 3%;
    padding-top: 20%;
  }
  .contactData {
    max-width: 70%;
    padding: 2rem;
    padding-bottom: 2.5rem;
    height: auto;
    border-bottom: 4px solid var(--hover-color);
    margin: 0 15%;
  }
  .contactMail {
    grid-column: auto;
    grid-row: auto;
    padding: 4.5rem 0 0;
    margin-left: 0;
  }
  .contactSocialData > .social-icons {
    gap: 3rem;
  }
  .contactSocial p {
    color: var(--input-color);
  }
  .contactSocial {
    padding-block: 1rem 2rem;
    margin: auto;
  }
  .submit {
    width: 100%;
    height: 58px;
  }
  .contactTextarea {
    height: 10rem;
  }
  footer,
  footer p {
    background: var(--mail-bg-color);
    color: var(--input-color);
  }
}

@media (max-width: 650px) {
  header {
    padding: 10px 5%;
  }
  #menu-icon {
    position: relative;
    right: 40px;
    top: 0;
  }
  section {
    padding: 13% 5%;
  }
  #home,
  #about {
    padding: 20% 5%;
  }
  .contactMail {
    padding: 4.5rem 1.5rem 0;
  }
}
@media (max-width: 510px) {
  :root {
    --big-font: 2.7rem;
    --normal-font: 1.7rem;
    --h3-font: 1.2rem;
    --animationText-font: 1.9rem;
  }
  section {
    padding: 15% 5%;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -22.8rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
  .contactMail {
    grid-column: auto;
    grid-row: auto;
    padding: 4.5rem 0.5rem 0;
    margin-left: 0;
  }
  #progress {
    transition: 0.1s;
  }
}
@media (max-width: 445px) {
  html {
    font-size: 80%;
  }
  small {
    margin-top: 15px;
  }
  .myPhotos {
    scale: 0.9;
  }
}
@media (max-width: 390px) {
  :root {
    --big-font: 2.5rem;
    --normal-font: 1.6rem;
    --h3-font: 1.1rem;
    --animationText-font: 1.7rem;
  }
  .contactMail {
    padding: 4.5rem 0 0;
  }
  .myPhotos {
    scale: 0.85;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -21rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
}
@media (max-width: 350px) {
  .home-image,
  .img-about {
    width: 300px;
  }
}

/* ///////////////    parallax    ////////////////////// */
.scrollScale {
  opacity: 0;
  scale: 0.9;
  transition: 1.5s;
}
.fromright {
  opacity: 0;
  translate: 1rem 1rem;
  transition: 1.5s;
}
.fromlift {
  opacity: 0;
  translate: -1rem 1rem;
  transition: 1.5s;
}
.show-items {
  opacity: 1;
  translate: 0 0;
  scale: 1;
}

@keyframes movingEachANav {
  from {
    opacity: 0;
    translate: 4rem 1rem;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes movingLogo {
  from {
    opacity: 0;
    translate: -4rem 1rem;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

/* ///////////////    Theme Settings    ////////////////////// */
#displaiedpage {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  width: 95vw;
  height: 98vh;
  display: none;
}
.theamSettings {
  position: fixed;
  top: 50%;
  right: -200px;
  transform: translateY(-50%);
  background: var(--secon-bg-color);
  z-index: 150;
  box-shadow: var(--neon-box-colors-shadow);
  transition: 0.4s ease-in-out;
}
.theamSettings.activesetting {
  scale: 1.3;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.theamSettings .togglebtn {
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--hover-color);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--hover-box-shadow);
}
.theamSettings .togglebtn i {
  color: var(--secon-bg-color);
  font-size: 20px;
}
.theamSettings .wrapper {
  position: relative;
  width: fit-content;
  padding: 18px;
}
.theamSettings .wrapper h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
#colorsDev {
  display: flex;
  gap: 10px;
}
#colorsDev .colorBox {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--color);
  box-shadow: var(--hover-box-shadow);
}
#colorsDev .colorBox i {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#colorsDev .colorBox.activeColor i {
  opacity: 1;
}
#colorsDev label.colorBox {
  background: red;
}
#colorsDev label input {
  display: none;
}
