@media (780px < width < 1153px) {
  .myPhotos {
    scale: 0.95;
  }
  .home-image {
    width: 285px;
  }
  header {
    padding: 0 5%;
  }
  section {
    padding: 50px 5%;
  }
  #portfolio {
    padding-top: 7%;
  }
  .contactSocial {
    margin-right: 4rem;
  }
  .contactData {
    max-width: 23rem;
  }
  #home {
    gap: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media (max-width: 991px) {
  #home {
    gap: 3rem;
  }
  footer {
    padding: 0.7rem 0;
  }
  :root {
    --big-font: 3rem;
    --normal-font: 1.8em;
    --h3-font: 1.3rem;
    --animationText-font: 2.2rem;
  }
  .social-icons {
    margin-top: 5rem;
  }
  .contactSocial {
    margin-right: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .contactData {
    max-width: 20rem;
    padding: 2rem 1.7rem 0;
    margin-top: 4rem;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -26rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
}

@media (max-width: 900px) {
  #home {
    gap: 2rem;
  }
  .myPhotos {
    scale: 0.9;
  }
  .home-image {
    width: 270px;
  }
  .all-skills {
    gap: 3rem;
  }
  .contactGroup {
    grid-template-columns: 1fr;
  }
  .contactMail {
    max-height: 700px;
  }
  .contactSocial {
    margin-bottom: 3rem;
  }
  .contactData {
    max-width: 19rem;
    padding: 2rem 1.7rem 0;
    height: 19.8rem;
  }
}

@media (780px < width < 850px) {
  nav a {
    padding: 10px;
  }
  .mode {
    padding-top: 5px;
  }
  #home {
    gap: 2rem;
  }
  :root {
    --big-font: 2.7rem;
    --normal-font: 1.7em;
    --h3-font: 1.2rem;
    --animationText-font: 1.9rem;
  }
  .contactMail {
    max-height: 720px;
    padding: 4.5rem 3.5rem 2.5rem 5rem;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -22.8rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
  .all-skills {
    gap: 2rem;
  }
  .submit {
    width: 100%;
    height: 58px;
  }
}

@media (max-width: 780px) {
  body {
    overflow: hidden;
  }
  header {
    padding: 10px 10%;
    background: var(--menu-bg-color);
  }
  #menu-icon {
    display: block;
    transition: 0.4s;
  }
  .bx-x {
    transform: rotate(180deg);
  }
  #logo {
    transition: 0.3s;
  }
  .openClosLogo {
    opacity: 0;
  }
  #menu-logo {
    display: block;
  }
  nav {
    flex-direction: column;
    position: absolute;
    top: -500px;
    right: 0;
    left: 0;
    background: var(--menu-bg-color);
    text-align: center;
    padding: 0 5%;
    transition: 0.6s;
  }
  .mode {
    position: fixed;
    top: -5px;
    right: 5px;
  }
  nav a {
    padding-bottom: 1rem;
  }
  .openMenu {
    top: 13px;
  }
  .home-image {
    width: 100%;
  }
  #home,
  .all-skills {
    grid-template-columns: 1fr;
    gap: 7.5rem;
  }
  #about {
    flex-direction: column-reverse;
    gap: 7.5rem;
    justify-content: center;
    align-content: space-evenly;
  }
  .all-skills {
    margin-top: 2rem;
  }
  section {
    padding: 70px 10%;
  }
  #home .home-image {
    position: static;
  }
  .home-content,
  #about .img-about {
    max-width: none;
  }
  html,
  body {
    overflow-x: scroll;
  }
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  .myPhotos {
    scale: 1;
  }
  #contact {
    background: var(--mail-bg-color);
    grid-template-columns: none;
    grid-template-rows: 15rem max-content max-content;
    padding-bottom: 3%;
    padding-top: 20%;
  }
  .contactData {
    max-width: 70%;
    padding: 2rem;
    padding-bottom: 2.5rem;
    height: auto;
    border-bottom: 4px solid var(--hover-color);
    margin: 0 15%;
  }
  .contactMail {
    grid-column: auto;
    grid-row: auto;
    padding: 4.5rem 0 0;
    margin-left: 0;
  }
  .contactSocialData > .social-icons {
    gap: 3rem;
  }
  .contactSocial p {
    color: var(--input-color);
  }
  .contactSocial {
    padding-block: 1rem 2rem;
    margin: auto;
  }
  .submit {
    width: 100%;
    height: 58px;
  }
  .contactTextarea {
    height: 10rem;
  }
  footer,
  footer p {
    background: var(--mail-bg-color);
    color: var(--input-color);
  }
}

@media (max-width: 650px) {
  header {
    padding: 10px 5%;
  }
  #menu-icon {
    position: relative;
    right: 40px;
    top: 0;
  }
  section {
    padding: 13% 5%;
  }
  #home,
  #about {
    padding: 20% 5%;
  }
  .contactMail {
    padding: 4.5rem 1.5rem 0;
  }
}
@media (max-width: 510px) {
  :root {
    --big-font: 2.7rem;
    --normal-font: 1.7rem;
    --h3-font: 1.2rem;
    --animationText-font: 1.9rem;
  }
  section {
    padding: 15% 5%;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -22.8rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
  .contactMail {
    grid-column: auto;
    grid-row: auto;
    padding: 4.5rem 0.5rem 0;
    margin-left: 0;
  }
  #progress {
    transition: 0.1s;
  }
}
@media (max-width: 445px) {
  html {
    font-size: 80%;
  }
  small {
    margin-top: 15px;
  }
  .myPhotos {
    scale: 0.9;
  }
}
@media (max-width: 390px) {
  :root {
    --big-font: 2.5rem;
    --normal-font: 1.6rem;
    --h3-font: 1.1rem;
    --animationText-font: 1.7rem;
  }
  .contactMail {
    padding: 4.5rem 0 0;
  }
  .myPhotos {
    scale: 0.85;
  }
  @keyframes moveText {
    0%,
    10%,
    100% {
      background-position: -21rem 0;
    }
    65%,
    85% {
      background-position: 0rem 0;
    }
  }
}
@media (max-width: 350px) {
  .home-image,
  .img-about {
    width: 300px;
  }
}
