#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.main-text {
  width: 100%;
  text-align: center;
}
.all-skills {
  display: grid;
  grid-template-columns: minmax(375px, 600px) minmax(300px, 500px);
  justify-content: space-evenly;
  gap: 5rem;
}
.all-skills h3 {
  margin-bottom: 2rem;
  font-size: var(--h3-font);
  text-align: center;
  color: var(--text-simi-ten-color);
}

/* ///////////////  Left skills   ////////////////////// */
#tec-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  flex-wrap: wrap;
}
.skill-box {
  text-align: center;
  margin: 1rem;
  transition: 0.4s;
}
.skill-box p {
  text-transform: capitalize;
  letter-spacing: 1px;
}
.tailwind,
.redux-toolkit,
.formik {
  padding: 0.2rem;
}
.css path {
  color: #224bff;
}
.react path {
  color: #3f9df5;
}
.redux-toolkit path,
.bootstrap path {
  color: #7537e1;
}
.javascript path {
  color: yellow;
}
.typescript path {
  color: #1875e0;
}
.sass path {
  color: #e45fbc;
}
.html path,
.gitlap path,
.git path {
  color: orangered;
}
.github path,
.next path {
  color: #000;
}
.formik path {
  color: #123eff;
}
.tailwind path {
  color: #128dff;
}
.scss path {
  color: rgb(230, 97, 119);
}
.skill-box:hover {
  scale: 1.1;
}
.skill-box:hover .after::after {
  box-shadow: var(--font-neon-text-shadow);
}
.after {
  position: relative;
  z-index: 5;
  font-size: 4rem;
  display: block;
  width: 5rem;
  height: 5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.after::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  background: #fff;
  transition: 0.4s;
  width: 95%;
  height: 95%;
  border-radius: 25%;
}
.after-formik::after,
.after-tailwind::after,
.after-redux-toolkit::after,
.after-react::after {
  top: 6%;
  left: 5%;
  width: 90%;
  height: 86%;
}
.after-javascript::after,
.after-typescript::after {
  left: 11%;
  top: 11%;
  width: 78%;
  height: 78%;
  border-radius: 5%;
}
.after-javascript::after {
  background: #000;
}
.after-next::after,
.after-github::after,
.after-scss::after {
  top: 11%;
  left: 8px;
  border-radius: 50%;
  width: 79%;
  height: 78%;
}
.dark .after-github::after,
.dark .after-next::after {
  top: 8%;
  left: 8%;
  width: 84%;
  height: 85%;
}
.after-html::after,
.after-css::after {
  top: 10%;
  left: 21%;
  width: 58%;
  height: 75%;
}
.after-git::after {
  border-radius: 8%;
  rotate: 45deg;
  width: 58%;
  height: 57%;
  top: 21%;
  left: 21%;
}
.after-bootstrap::after {
  top: 18%;
  left: 19%;
  width: 62%;
  height: 62%;
}
.after-gitlap::after {
  top: 36%;
  left: 20%;
  width: 58%;
  height: 40%;
  border-radius: 40%;
}

/* ///////////////  right skills   ////////////////////// */
.professional {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box {
  margin: 1.6rem 0 2.5rem;
  position: relative;
  flex: 1 1 15rem;
}
.box .text {
  text-align: center;
  font-size: 1rem;
}
.box .text span {
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
small {
  display: block;
  font-weight: 600;
}
.circle {
  width: 100%;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .points {
  width: 2px;
  height: 10px;
  background: var(--points-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}
.points.marked {
  animation: glow 0.04s linear 1s forwards;
  animation-delay: calc(var(--i) * 0.05s);
}
@keyframes glow {
  from {
    background: var(--points-color);
    box-shadow: none;
  }
  to {
    background: var(--gradient-coler-bg);
    box-shadow: var(--neon-box-shadow);
  }
}

@media (max-width: 900px) {
  .all-skills {
    gap: 3rem;
  }
}
@media (780px < width < 850px) {
  .all-skills {
    gap: 2rem;
  }
}
@media (max-width: 780px) {
  .all-skills {
    grid-template-columns: 1fr;
    gap: 7.5rem;
    margin-top: 2rem;
  }
}
